<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sonnyjack.permission">

    <application>
        <activity
            android:name=".PermissionUtils$PermissionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
    </application>

</manifest>
